
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  
}
.container{
    max-width: 100%;
    margin: 0px auto;
}
.btn{
    width: 11rem;
    height: 4rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    

}
/*main*/
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.space{
    max-width: 90%;
    margin: 0px auto;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    font-size: 2.8rem;
    color: rgba(19, 19, 19, 1);
    font-weight: 700;
    text-align: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap:2rem;
}
.navbar li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

.banner-top{
 width:100%;
 max-width: 53rem;
 text-align: center;
 margin:0 auto;

}
.banner-top h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    
}
.banner-top p{
    color:rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.banner-img img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.quick-list{
    display: flex;
    
    
}
.list-pics{
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.list-pics img{
    margin: 0.5em;
    max-width: 100%;
}
.quick-head{
    margin-top: 267px;
    width: 950px;
    margin-right: 200px;
    text-align: left;
    
}
.quick-head h2{
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.3rem;
  color: rgba(114, 114, 114, 1);
}
.quick-head span{
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.quick-head p{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.features{
    display: flex;
    margin-top: 1.2rem;
}
.features-list{
    margin-right: 5rem;
}
.features-list h2{
   color: rgba(19, 19, 19, 1);
   font-size: 2.8rem;
   font-weight: 700;
   line-height: 3.3rem;
   border-left: 5px solid rgba(255, 144, 14, 1);
   padding-left: 0.7rem;
}
.features-list p{
    color:rgba(114, 114, 114, 1);
    font-size: 1rem;
   font-weight: 400;
   line-height: 1.6rem;
   width: 586px;
   margin-bottom: 3rem;
}
.card-container div{
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 586px;
   
    
}
.card-container h3{
 color:rgba(19, 19, 19, 1);
 font-size: 1.25rem;
 font-weight: 600;
 line-height: 1.4; 
}
#year{
    font-size: 3rem;
   font-weight: 600;
   line-height: 5rem;
   text-align: center;

}
#box{
    width: 342px;
   height: 200px;
   margin-top: -9rem;
   margin-left: -5rem;
}
.exp{
    font-size: 1.25rem;
    font-weight: 400;
}
/*phone*/
@media screen and (max-width:576px){
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar h1 {
    font-size: 2.2rem;
    margin-top: 1rem;
    max-width:300px;
    width: 90%;

}
.navbar ul {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.banner-top {
    width: 95%;
    

}
.banner-top h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
}
.btn {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
}
.quick-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-pics{
    display: grid;
   
}
.quick-head {
    max-width: 550px;
    width: 90%;
    text-align: center;
    margin: 0 auto;

}
}
/*tablet*/
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quick-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-pics{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
   
}
.quick-head {
    margin: 0px auto;
    width: 95%;
    text-align: center;
}
}
